[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HH"]
	path = HH
	url = https://github.com/cran/HH
[submodule "microplot"]
	path = microplot
	url = https://github.com/cran/microplot
[submodule "RcmdrPlugin.HH"]
	path = RcmdrPlugin.HH
	url = https://github.com/cran/RcmdrPlugin.HH
